# Django basics
staticfiles/
*.sqlite3

# Media（按需要二选一，默认先不忽略）
# media/
# media/*
!media/.gitkeep
# !media/banners/**

# Python
__pycache__/
*.py[cod]

# Env & venv
.env
.venv/
venv/

# Editors / OS
.vscode/
.DS_Store
Thumbs.db

# Ignore SQLite database
*.sqlite3
