{% load static %}
{% load custom_tags %}

{% if featured_categories %}
<section>
    <div class="category-filters">
        <div class="category-list">
            {% for category in featured_categories %}
            <a href="{% url 'category_products' category.slug %}" class="category-item">

                {% if category.image %}
                <img src="{{ category.image.url }}" alt="{{ category.name }}">
                {% else %}
                <img src="/static/default-category.jpg" alt="{{ category.name }}">
                {% endif %}
                <div class="category-item-info">
                    {{ category.name }}
                    <span class="category-item-description">{{ category.description|truncatewords:10 }}</span>
                    <div class="btn">
                        <span class="btn-text">Shop Now</span>
                        <iconify-icon icon="material-symbols:arrow-forward" width="20"></iconify-icon>
                    </div>
                </div>
                <div class="category-info">
                    {% for i in category.hot_level|times %}
                    <span class="bxs--hot"></span>
                    {% endfor %}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<p>No featured categories right now.</p>
{% endif %}