{% load static %}

<section>
    <div class="category-filters">
        <div class="category-list">

            <a href="#" class="category-item">
                <img src="{% static 'images/cg1.jpg' %}" alt="">
                <div class="category-item-info">
                    Original
                    <span>High-quality art pieces</span>
                    <p>Discover our exclusive collection of original artworks.</p>
                    <div class="btn">
                        <span class="btn-text">Original</span>
                        <iconify-icon icon="material-symbols:arrow-forward" width="20"></iconify-icon>
                    </div>
                </div>
                <div class="category-info">
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                </div>
            </a>
            <a href="#" class="category-item">
                <img src="{% static 'images/cg2.jpg' %}" alt="">
                <div class="category-item-info">
                    Original
                    <span>High-quality art pieces</span>
                    <p>Discover our exclusive collection of original artworks.</p>
                    <div class="btn">
                        <span class="btn-text">Original</span>
                        <iconify-icon icon="material-symbols:arrow-forward" width="20"></iconify-icon>
                    </div>
                </div>
                <div class="category-info">
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                </div>
            </a>
            <a href="#" class="category-item">
                <img src="{% static 'images/cg3.jpg' %}" alt="">
                <div class="category-item-info">
                    Original
                    <span>High-quality art pieces</span>
                    <p>Discover our exclusive collection of original artworks.</p>
                    <div class="btn">
                        <span class="btn-text">Original</span>
                        <iconify-icon icon="material-symbols:arrow-forward" width="20"></iconify-icon>
                    </div>
                </div>
                <div class="category-info">
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                </div>
            </a>
            <a href="#" class="category-item">
                <img src="{% static 'images/cg1.jpg' %}" alt="">
                <div class="category-item-info">
                    Original
                    <span>High-quality art pieces</span>
                    <p>Discover our exclusive collection of original artworks.</p>
                    <div class="btn">
                        <span class="btn-text">Original</span>
                        <iconify-icon icon="material-symbols:arrow-forward" width="20"></iconify-icon>
                    </div>
                </div>
                <div class="category-info">
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                </div>
            </a>
            <a href="#" class="category-item">
                <img src="{% static 'images/cg2.jpg' %}" alt="">
                <div class="category-item-info">
                    Original
                    <span>High-quality art pieces</span>
                    <p>Discover our exclusive collection of original artworks.</p>
                    <div class="btn">
                        <span class="btn-text">Original</span>
                        <iconify-icon icon="material-symbols:arrow-forward" width="20"></iconify-icon>
                    </div>
                </div>
                <div class="category-info">
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                    <span class="bxs--hot"></span>
                </div>
            </a>
        </div>
    </div>
</section>

