{% load static %}
{% load custom_tags %}


{% if hot_sale_products %}
<section>
    <div class="category-filters">
        <div class="category-list">
            {% for product in hot_sale_products %}
            <a href="{% url 'product_detail' product.id %}" class="category-item">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="category-item-info">
                    {{ product.name }}
                    <span class="category-item-description">{{ product.description|truncatewords:10 }}</span>
                    <p>RM {{ product.price }}</p>
                    <div class="btn">
                        <span class="btn-text">Shop Now</span>
                        <iconify-icon icon="material-symbols:arrow-forward" width="20"></iconify-icon>
                    </div>
                </div>
                <div class="category-info">
                    {% for i in product.hot_level|times %}
                    <span class="bxs--hot"></span>
                    {% endfor %}
                </div>

                <!-- <p>Total Hot Sale Products: {{ hot_sale_products|length }}</p> -->
            </a>
            {% endfor %}
        </div>
    </div>

</section>
{% else %}
<p>No hot sale products right now.</p>
{% endif %}