{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h1>Privacy Policy</h1>
  <p>We value your privacy. This policy explains how we use and protect any information you provide when using our website:</p>
  <ul>
    <li>We collect personal information only to process your orders and provide better service.</li>
    <li>We will not share your information with third parties without your consent, except as required by law.</li>
    <li>We implement security measures to protect your data.</li>
    <li>You may request details of personal information we hold about you under the Data Protection Act.</li>
  </ul>
  <p>If you believe any information we hold is incorrect, please contact us as soon as possible.</p>
</div>
<img src="{% static 'images/banner1.jpg' %}" class="img-fluid mb-4" alt="Banner">
{% endblock %}
