{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h1>Terms of Service</h1>
  <p>Welcome to My Shop. By accessing our website, you agree to comply with and be bound by the following terms and conditions of use:</p>
  <ul>
    <li>All content on this site is for general information and use only.</li>
    <li>We reserve the right to modify these terms at any time without notice.</li>
    <li>Unauthorized use of this website may give rise to a claim for damages.</li>
    <li>Your use of this website is at your own risk. We are not liable for any loss or damage.</li>
  </ul>
  <p>For any questions, please contact us via our Contact page.</p>
</div>
<img src="{% static 'images/banner1.jpg' %}" class="img-fluid mb-4" alt="Banner">
{% endblock %}
